<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Цю задачу адаптовано з сайту <a target="_blank" href="https://challenges.wolframcloud.com/challenge/count-the-number-of-squares">Count the Number of Squares</a> на Wolfram Challenges, тому ви, можливо, захочете спочатку переглянути цю сторінку для ілюстрації цієї задачі.
</p>
<p style="text-align: justify;">
    За заданою послідовністю точок (координати <b class="code">x, y</b> як невід'ємні цілі числа) ваша функція повинна підрахувати, скільки існує таких квадратів, у яких усі чотири кути належать точкам. Зверніть увагу, що ці квадрати не обов'язково повинні бути вирівняні по осям, тобто їх сторони повинні бути або горизонтальними, або вертикальними. Наприклад, точки <b class="code">{% if is_js %}[0, 3], [3, 0], [6, 3], [3, 6]{% else %}(0, 3), (3, 0), (6, 3), (3, 6){% endif %}</b> визначають квадрат, навіть якщо з нашої вирівняної по осях точки спостереження він виглядає як ромб. 
</p>

<p>
    До речі, якщо ви хочете спробувати інший підхід і порахувати квадрати, маючи лінії між точками, <a target="_blank" href="https://py.checkio.org/en/mission/the-square-chest/">The Square Chest</a> чекає на вас!
</p>

<!-- <p style="text-align: center;">
  <img title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> кортежів <span>{% if is_js %}{% else %}(tuple){% endif %}</span> з двох цілих чисел (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
   <strong>Виведіть:</strong> Ціле число (<span>{% if is_js %}number{% else %}int{% endif %}</span>). 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<details>
    <summary><i>Якщо ви вважаєте, що вам потрібна додаткова глава пояснень (підказка), натисніть цей рядок.</i></summary>
    <p style="text-align: justify;"><i>
        Щоб визначити чотири точки, які утворюють квадрат, зверніть увагу на те, що кожен квадрат має точку лівого нижнього кута <b class="code">x, y</b> і вектор напрямку <b class="code">dx, dy</b> до точки лівого верхнього кута, який задовольняє <b class="code">dx>= 0 & dy> 0</b>, так що точки <b class="code">{% if is_js %}[x+dx,y+dy], [x+dy,y-dx], [x+dx+dy,y-dx+dy]{% else %}(x+dx,y+dy), (x+dy,y-dx), (x+dx+dy,y-dx+dy){% endif %}</b> для лівого верхнього, правого нижнього та правого верхнього кутів квадрата, відповідно, також є точками. Таким чином, ви можете (ефективно) перебрати всі можливі варіанти нижньої лівої точки і вектора напрямку і гарантовано знайти всі квадрати в сітці.
    </i></p>
</details>

<p><i>Завдання взято з сайту <span>Python CCPS 109</span>. Його розв'язують для <span>Ryerson Chang School of Continuing Education</span> за допомогою <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

  <strong>How it’s used:</strong>
  <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
  <strong>Preconditions:</strong>
  <ul>
  <li><i>both given ints should be between -1000 and 1000</i></li>
  </ul>
</p> -->
