<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Ce problème est adapté de <a target="_blank" href="https://challenges.wolframcloud.com/challenge/count-the-number-of-squares">Count the Number of Squares</a> à Wolfram Challenges, vous pouvez donc d'abord consulter cette page pour des visualisations illustratives de ce problème.
</p>
<p style="text-align: justify;">
    Etant donné une séquence de points (coordonnées <b class="code">x, y</b> sous forme d'entiers non négatifs), votre fonction doit compter combien de carrés existent de sorte que les quatre coins soient membres de points. Notez que ces carrés ne sont pas tenus d'être alignés sur l'axe, de sorte que leurs côtés doivent être horizontaux et verticaux. Par exemple, les points <b class="code">{% if is_js %}[0, 3], [3, 0], [6, 3], [3, 6]{% else %}(0, 3), (3, 0), (6, 3), (3, 6){% endif %}</b> définissent un carré, même s'il peut ressembler à un losange depuis notre point de vue aligné sur l'axe. 
</p>

<p>
    D'ailleurs, si vous voulez essayer une autre approche et compter les carrés, en ayant des lignes entre les points, <a target="_blank" href="https://py.checkio.org/en/mission/the-square-chest/">The Square Chest</a> vous attend!
</p>

<!-- <p style="text-align: center;">
  <img title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}Tableau{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> de tuples <span>{% if is_js %}{% else %}(tuple){% endif %}</span> de deux entiers (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
   <strong>Sortie:</strong> Entier (<span>{% if is_js %}number{% else %}int{% endif %}</span>). 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<details>
    <summary><i>Si vous avez besoin d'un chapitre d'explication supplémentaire (tip), appuyez sur cette ligne.</i></summary>
    <p style="text-align: justify;"><i>
        Pour identifier les quatre points qui constituent un carré, notez que chaque carré possède un point d'angle inférieur gauche <b class="code">x, y</b> et un vecteur de direction <b class="code">dx, dy</b> vers son point d'angle supérieur gauche qui satisfait à <b class="code">dx>= 0 & dy> 0</b>, de sorte que les points <b class="code">{% if is_js %}[x+dx,y+dy], [x+dy,y-dx], [x+dx+dy,y-dx+dy]{% else %}(x+dx,y+dy), (x+dy,y-dx), (x+dx+dy,y-dx+dy){% endif %}</b> pour les coins supérieur gauche, inférieur droit et supérieur droit de ce carré, respectivement, sont également inclus dans les points. Vous pouvez donc (effectivement) itérer à travers toutes les possibilités pour le point inférieur gauche et le vecteur de direction et être assuré de trouver tous les carrés de la grille.
    </i></p>
</details>

<p><i>La mission est tirée de <span>Python CCPS 109</span>. Elle est enseignée pour <span>Ryerson Chang School of Continuing Education</span> par <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

  <strong>How it’s used:</strong>
  <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
  <strong>Preconditions:</strong>
  <ul>
  <li><i>both given ints should be between -1000 and 1000</i></li>
  </ul>
</p> -->
